@font-face {
  font-family: "go3v2.ttf";
  src: url(/fuentes/go3v2.ttf);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F3F4;
  color: #161A1D;
}

header {
  background-color: #A4161A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "go3v2.ttf", Arial, sans-serif;
  border: 1px solid #A4161A;
  text-shadow: -6px 5px 4px black;
}

header img {
  max-width: 80px;
}

nav {
  background-color: #161A1D;
  color: #FFFFFF;
  padding: 2px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  padding: 15px 50px;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
}

li:hover {
  background-color:#660708;
  color:#FFFFFF;
}

section {
  display: flex;
  margin: 20px;
}

.izquierda {
  position: fixed;
  left: -245px;
  height: 100%;
  width: 250px;
  background-color: #D3D3D3;
  padding: 10px;
  transition: left 0.5s;
}

.izquierda:hover {
  left: 0px;
  box-shadow: 1px 1px 60px;
}

.derecha {
  order: 1;
  background-color: #D3D3D3;
  padding: 20px;
  margin: 10px;
}

.principal {
  flex: 1;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px;
}

footer {
  background-color: #660708;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p a {
  text-decoration: none;
  color: #161A1D;
}

p a:hover {
  text-decoration: underline;
  color: #660708;
}

div.izquierda img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

  /* Estilos para la sección del currículum */
  
  table {
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  td img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    border-radius: 50%;
  }
  
  table tr:last-child {
    background-color: #f2f2f2;
  }

  .trabajo {
    background-color: #f2f2f2;
  }

  .cv {
    text-align: center;
  }

  video {
    display: block;
    margin: 70px auto;
  }