body {
    font-family: 'Golos Text', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    height: 100px;
    background-color: #BA181B;
}

.container {
    text-align: center;
}